<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.board.mapper.UserMapper">
    <!-- 로그인 -->
    <select id="getUserInfo" resultType="org.example.board.entity.UserVO">
        SELECT
            id,
            password
        FROM
            user
        WHERE
            id = #{id}
    </select>

    <!-- 회원가입 -->
    <insert id="saveUserInfo" parameterType="org.example.board.entity.UserVO">
        INSERT
        INTO user (
            id,
            password,
            name
        )
        VALUES(
            #{id},
            #{password},
            #{name}
        );
    </insert>
</mapper>