.modal {
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}
.modal-dialog {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
}
.modal-content {
    padding: 20px;
}