<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script type="text/javascript" th:src="@{/js/board.js}"></script>
</head>
<body>
    <th:block th:replace="~{header :: headerFragment}"></th:block>

    <div class="container mt-5">
        <table class="table table-hover">
            <colgroup>
                <col style="width: 60%;"/>
                <col style="width: 20%;"/>
                <col style="width: 20%;"/>
                <col style="height: 100px"/>
            </colgroup>
            <thead>
            <tr style="height: 50px; vertical-align: middle">
                <th style="cursor:default;">제목</th>
                <th style="cursor:default;">작성자</th>
                <th style="cursor:default;">작성 날짜</th>
            </tr>
            </thead>
            <tbody id="board-list">
                <!-- 동적 생성 -->
            </tbody>
        </table>
    </div>

    <div class="modal" id="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <input type="hidden" id="modal-id">
                    <h4 class="modal-title" id="modal-title"></h4>
                    <button type="button" class="btn-close" th:onclick="closeModal()"></button>
                </div>
                <div class="modal-body mt-4 mb-4" id="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary btn-sm" id="modify">수정</button>
                    <button type="button" class="btn btn-outline-danger btn-sm" onclick="deleteBoard()">삭제</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>